<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Us</title>
</head>

<body>
    <section class="section">
        <h1 id="section-headerOne"> -OUR MISSION- </h1>
        <p class="section-paragraphOne"> TO PROVIDE THE MOST ACTIONABLE APP FOOD DELIVERY </p>
        <h2 class="section-headerTwo"> - ABOUT - </h2>
        <p class="paragraph-about"> With Cafeteria Online Delivery, our goal is to make ordering at the cafeteria easier and more comfortable.
            <span class="span-paragraph"> everyone is guessing.</span> How can we solve the problem? The best solution is switching over to online ordering where users can spend less of their time waiting on queues and more efficient at the confines of
            their Dormitories, classrooms, and anywhere inside the campus.
        </p>
        <h3 class="section-headerThree"> The Five Designer of this Website </h3>

        <table>
            <tr>g
                <th>
                    <img src="assets/images/lloyd.jpg" class="profile-image">
                    <p class="name"> <b> Lloyd Bolences  </b></p>
                    <p class="info"> I’m Lloyd Bolences, a second year student of Adventist University of the Philippines taking Bachelor of Science in Information Technology. Mostly fan of anime and advocate of making things easier, just like creating the AUP cafeteria
                        online delivery. I’m comfortable at using JAVA programming language since it is the only language I know and im looking forward that I will learn the other programming language in order for me to achieve my dream, to be a computer
                        programmer.
                    </p>

                </th>

                <th>
                    <img src="assets/images/Hans.jpg" class="profile-image">
                    <p class="name"> <b> Hans Godriel Macaraan  </b></p>
                    <p class="info"> I'm Hans Godriel P. Macaraan, a 2nd year student of Adventist University Of The Philippines, taking Bachelor of Science and Information teachnology. I want to become professional web developer someday. But for now i hope you enjoy
                        our website. I hope that someday this AUP Cafeteria Online Delivery will implement to the cafeteria. I'm also using JAVA Programming language since it is the only language we know. And also i want to dedicate this project to my
                        family and to my almighty father God.</p>
                </th>
            </tr>

            <tr>
                <th>
                    <img src="assets/images/me.jpg" class="profile-image">
                    <p class="name"> <b> Mateo Naz Jr.  </b></p>
                    <p class="info"> I'm Mateo Naz Jr., a second year student of Adventist University of the Philippines taking Bachelor of Scine in Information Technology. a fanatic of basketball,esport and a supporter of making things easier, just like creating AUP
                        cafeteria online delivery. I'm able in Java but not in other programming languages but sooner or later i will explore other languages to achieve my passion and dream to be a programmer.</p>
                </th>

                <th>
                    <img src="../assets/images/jared.jpg" class="profile-image">
                    <p class="name"> <b> Jared Ibanez  </b></p>
                    <p class="info"> My name is Jared Ibañez, a second-year student at the Adventist University of the Philippines studying Information Technology. Born at Cabanatuan —and raised in Puting Kahoy, Silang, Cavite, I’ve basically lived my life exploring and
                        widening my horizons in this small town of Cavite. I’ve engaged in many activities of this school: small group, choir, —-, you name it! However, when I was invited to play with the computer, I was hooked. It made me connect with
                        millions of people across the globe enhancing our skills in terms of intellect and memory via video games.</p>
                </th>
            </tr>

            <tr>
                <th>
                    <img src="assets/images/jam.jpg" class="profile-image">
                    <p class="name"> <b> Jamleck R. Arzola  </b></p>
                    <p class="info"> I'm Jamleck R. Arzola, an irregular second year college student ,Working Student for almost 4 years at Adventist University of the Philippines . My dream is to be a professional debugger of a website or an app. I'm a bit good at sketching.
                        One of my dream is to be a great son to my Parents, I want them to be proud of me. Yahoo! </p>

                </th>

                <th>
                    <img src="assets/images/douko.jpg" class="profile-image">
                    <p class="name"> <b> Iel Arvill  </b></p>
                    <p class="info"> "May name is Iel Arvill Villaruel, an IT student from Adventist University of the Philippines, aiming to be a good web developer in the future."</p>
                </th>
            </tr>
        </table>


    </section>




</body>
