<!--<header class="main-header">
    <nav class="main-nav nav">
        <ul>
            <li><a href="homepage/index.html">HOME</a></li>
            <li><a href="index.html">MENU</a></li>
            <li><a href="index1.html">ABOUT</a></li>
        </ul>
    </nav>
    <link rel="shortcut icon" href="assest/img/aup.png" type="image/x-icon" />
    <h1 class="band-name band-name-large">Aup Cafeteria Online</h1>
</header> -->

<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">

<link rel="stylesheet" href="../css/styles.css">
<div class="container content-section">
    <h2 class="section-header">Rice and Viand</h2>
    <div class="shop-items">
        <div class="shop-item">
            <span class="shop-item-title">1. Plain Rice</span>
            <img class="shop-item-image" src="../assets/images/plain_rice.jpeg">
            <div class="shop-item-details">
                <span class="shop-item-price">15 Pesos</span>
                <button class="btn btn-primary shop-item-button" type="button">ORDER</button>
            </div>
        </div>
        <div class="shop-item">
            <span class="shop-item-title">2. Brown Rice</span>
            <img class="shop-item-image" src="../assets/images/brown_rice.jpeg">
            <div class="shop-item-details">
                <span class="shop-item-price">20 Pesos</span>
                <button class="btn btn-primary shop-item-button" type="button">ORDER</button>
            </div>
        </div>
        <div class="shop-item">
            <span class="shop-item-title">3. Beans Alahan</span>
            <img class="shop-item-image" src="../assets/images/beans_alahan.jpeg">
            <div class="shop-item-details">
                <span class="shop-item-price">25 Pesos</span>
                <button class="btn btn-primary shop-item-button" type="button">ORDER</button>
            </div>
        </div>
        <div class="shop-item">
            <span class="shop-item-title">4. Schezuan Eggplant</span>
            <img class="shop-item-image" src="../../assets/images/schezuan_eggplant.jpeg">
            <div class="shop-item-details">
                <span class="shop-item-price">20 Pesos</span>
                <button class="btn btn-primary shop-item-button" type="button">ORDER</button>
            </div>
        </div>
        <div class="shop-item">
            <span class="shop-item-title">5. Crispy Tofu</span>
            <img class="shop-item-image" src="../assets/images/crispy_tofu.jpeg">
            <div class="shop-item-details">
                <span class="shop-item-price">35 Pesos</span>
                <button class="btn btn-primary shop-item-button" type="button">ORDER</button>
            </div>
        </div>
        <div class="shop-item">
            <span class="shop-item-title">6. Ginataang Puso</span>
            <img class="shop-item-image" src="../assets/images/ginataang_puso.jpeg">
            <div class="shop-item-details">
                <span class="shop-item-price">35 Pesos</span>
                <button class="btn btn-primary shop-item-button" type="button">ORDER</button>
            </div>
        </div>
        <div class="shop-item">
            <span class="shop-item-title">7. Glutein Dinakdakan</span>
            <img class="shop-item-image" src="../assets/images/glutein_dinakdakan.jpeg">
            <div class="shop-item-details">
                <span class="shop-item-price">35 Pesos</span>
                <button class="btn btn-primary shop-item-button" type="button">ORDER</button>
            </div>
        </div>
        <div class="shop-item">
            <span class="shop-item-title">8. Patty with Gravy</span>
            <img class="shop-item-image" src="../assets/images/patty_with_gravy.jpeg">
            <div class="shop-item-details">
                <span class="shop-item-price">30 Pesos</span>
                <button class="btn btn-primary shop-item-button" type="button">ORDER</button>
            </div>
        </div>
        <div class="shop-item">
            <span class="shop-item-title">9. vege meat</span>
            <img class="shop-item-image" src="../assets/images/vege_meat.jpg">
            <div class="shop-item-details">
                <span class="shop-item-price">35 Pesos</span>
                <button class="btn btn-primary shop-item-button" type="button">ORDER</button>
            </div>
        </div>
        <div class="shop-item">
            <span class="shop-item-title">10. Butter Vegetables</span>
            <img class="shop-item-image" src="../assets/images/butter_vege.jpeg">
            <div class="shop-item-details">
                <span class="shop-item-price">35 Pesos</span>
                <button class="btn btn-primary shop-item-button" type="button">ORDER</button>
            </div>
        </div>
        <div class="shop-item">
            <span class="shop-item-title">11. Togue</span>
            <img class="shop-item-image" src="../assets/images/toge.jpeg">
            <div class="shop-item-details">
                <span class="shop-item-price">20 Pesos</span>
                <button class="btn btn-primary shop-item-button" type="button">ORDER</button>
            </div>
        </div>
        <div class="shop-item">
            <span class="shop-item-title">12. Sinigang</span>
            <img class="shop-item-image" src="../assets/images/sinigang.jpg">
            <div class="shop-item-details">
                <span class="shop-item-price">35 Pesos</span>
                <button class="btn btn-primary shop-item-button" type="button">ORDER</button>
            </div>
        </div>
        <div class="container content-section">
            <h2 class="section-header">Desert, Fruits and Bread</h2>
            <div class="shop-items">
                <div class="shop-item">
                    <span class="shop-item-title">Vegetable Salad</span>
                    <img class="shop-item-image" src="../assets/images/vegetable_salad.jpeg">
                    <div class="shop-item-details">
                        <span class="shop-item-price">35 Pesos</span>
                        <button class="btn btn-primary shop-item-button" type="button">ORDER</button>
                    </div>
                </div>
                <div class="shop-item">
                    <span class="shop-item-title">Spaghetti</span>
                    <img class="shop-item-image" src="../assets/images/spaghetti.jpeg">
                    <div class="shop-item-details">
                        <span class="shop-item-price">35 Pesos</span>
                        <button class="btn btn-primary shop-item-button" type="button">ORDER</button>
                    </div>
                </div>
                <div class="shop-items">
                    <div class="shop-item">
                        <span class="shop-item-title">Kalingking</span>
                        <img class="shop-item-image" src="../assets/images/kalingking.jpeg">
                        <div class="shop-item-details">
                            <span class="shop-item-price">35 Pesos</span>
                            <button class="btn btn-primary shop-item-button" type="button">ORDER</button>
                        </div>
                    </div>
                    <div class="shop-items">
                        <div class="shop-item">
                            <span class="shop-item-title">Carbonara</span>
                            <img class="shop-item-image" src="../assets/images/carbonara.jpeg">
                            <div class="shop-item-details">
                                <span class="shop-item-price">35 Pesos</span>
                                <button class="btn btn-primary shop-item-button" type="button">ORDER</button>
                            </div>

                            <div class="cart-row">
                                <span class="cart-item cart-header cart-column">ITEM</span>
                                <span class="cart-price cart-header cart-column">PRICE</span>
                                <span class="cart-quantity cart-header cart-column">QUANTITY</span>
                            </div>
                            <div class="cart-items">
                            </div>
                            <div class="cart-total">
                                <strong class="cart-total-title">Total</strong>
                                <span class="cart-total-price">$0</span>
                            </div>
                            <button class="btn btn-primary btn-purchase" type="button">PURCHASE</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<footer class="main-footer">
    <div class="container main-footer-container">
        <h3 class="band-name">Aup Cafeteria</h3>
        <ul class="nav footer-nav">
            <li>
                <a href="https://www.youtube.com" target="_blank">
                    <img src="../assets/images/Youtube Logo.png">
                </a>
            </li>
            <li>
                <a href="https://www.spotify.com" target="_blank">
                    <img src="../assets/images/Spotify Logo.png">
                </a>
            </li>
            <li>
                <a href="https://www.facebook.com" target="_blank">
                    <img src="../assets/images/Facebook Logo.png">
                </a>
            </li>
        </ul>
    </div>
</footer>

<script src="../../assets/js/cafeteria.js"></script>